@import "include/normalize";
@import "include/fonts";

body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}
table {
	border-collapse: collapse;
	margin: 20px;
}
td {
	margin: 0;
	padding: 0;
	border: 1px solid #000;
	position: relative;
}
td:first-child {
	width: 20%;
}
input {
	border: none;
	background: none;
	font-family: 'Roboto', sans-serif;
	position: relative;
	display: block;
	z-index: 1;
	padding: 0.2em 0.5em;
	width: 100%;
	box-sizing: border-box;
	outline: none;
	transition: all 0.2s ease;
}
input:focus {
	background: #d3fcff;
}
tbody tr:hover {
	background-color: #f5f5f5;
}
.buttons_block {
	margin: 0 0 20px 20px;
}
button {
	position: relative;
	border: none;
	background-color: #2c2c2c;
	padding: 0.3em 0.5em;
	cursor: pointer;
	transition: all 0.3s ease;
	outline: none;
	color: #fff;
	display: block;
	float: left;
	margin: 0 5px 5px 0;
}
button:hover {
	background-color: #575757;
}
button.success {
	background-color: #00a523;
}
button.error {
	background-color: #b70000;
}
.delete_row, .delete_col {
	position: absolute;
	text-align: center;
	cursor: pointer;
	display: none;
	color: #999;			    		
}
.delete_row:hover, .delete_col:hover {
	color: #000;
}
.delete_row.active, .delete_col.active {
	display: block;
}
.delete_row {
	right: 100%;
	top: 50%;
	line-height: 1;
	margin-top: -0.5em;
	width: 20px;
}
.delete_col {
	left: 50%;
	bottom: 100%;
	line-height: 20px;
	width: 2em;
	margin-left: -1em;
}