doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1")
    link(rel="stylesheet", href="/web-interface/css/translate.css")    
  body
    div(ng-app="myApp", ng-controller="translationsCtrl")
      table
        thead
          tr
            td
            td(ng-repeat="lang in translations.langs track by $index")
              .delete_col(ng-class="{'active':remove_mode}", ng-click="remove_col($index)") x
              input(ng-model="translations.langs[$index]")
        tbody
          tr(ng-repeat="row in translations.items track by $index")
            td
              .delete_row(ng-class="{'active':remove_mode}", ng-click="remove_row($index)") x
              input(ng-model="translations.items[$index][0]")
            td(ng-repeat="lang in translations.langs track by $index")
              input(ng-model="row[1][$index]")
      .buttons_block
          button.add_row(ng-click="add_row()") Добавить строку
          button.add_col(ng-click="add_col()") Добавить столбец
          button.remove(ng-click="remove_mode_toggle()") Удаление
          button.save(ng-click="save()", ng-class="{'success':save_success, 'error':save_error}") Сохранить    
    script.
      var translate = !{translate};
    script(src="/web-interface/js/libs/angular.min.js")
    script(src="/web-interface/js/translate.js")